* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #090E16;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #101324;
    padding: 2%;
    border-radius: 20px;
}

header {
    background-color: #101324;
    color: #fff;
    padding: 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;

}

header p {
    font-size: 1.2rem;
}

#geral{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section {
    padding: 30px 0;
}

section h2 {
    font-size: 2rem;

}

.sobre{
    width: 50vw;
    margin: 0;
}

.sobre p {
    font-size: 1.1rem;
    margin: 5px;
    grid-area: 'sobre';
    
}

.habilidades{
    width: 24%;
}

.habilidades ul {
    list-style-type: none;
    padding-left: 0;
    grid-area: 'habilidades';
}

.habilidades li {
    font-size: 1.1rem;
    margin: 5px 0;
}

.projetos .projeto h3 {
    font-size: 1.5rem;
}

.projetos .projeto p {
    font-size: 1rem;

}

.projetos .projeto a {
    text-decoration: none;
    color: #53db5a;
    background-color: #090E16;
    padding: 5px;
    border-radius: 5px;
}

.projetos .projeto a:hover {
    background-color: #000000;
    color: white;
}

footer {
    background-color: #101324;
    color: #53db5a;
    padding: 10px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
}
img{
    width: 50vw;
    height: auto;
    margin: 20px;
}
#fix01{
    margin: 0;
    width: fit-content;
}
#fix02{
    width: fit-content;
    background: none;
    color: #53db5a;
    font-size: 30px;
}